*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
    .flex-menus{
        display: flex;
        flex-direction: row;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        background-color: aqua;
    }
    .flex-container>div{
        margin: 10px;
        border: 5px solid blue;
        padding: 10px;
        background-color: #fff;
        /* box-sizing: content-box; */
    }
    .header{
        padding: 60px;
        background-color: rgb(0, 157, 255);
        color: black;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        background-color: cyan;
    }
    .navbar a{
        color: red;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
    }
    .navbar a:hover{
        color: black;
        background-color: lightblue;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .side{
        flex: 30%;
        background-color: #f1f1f1;
        padding: 20px;
        /* box-sizing: border-box; */
    }
    .main{
        flex: 70%;
        background-color: lightblue;
        padding: 20px;
        /* box-sizing: border-box; */
    }
    .footer{
        text-align: center;
        padding: 20px;
        background: gray;
    }
    @media screen and(max-width: 700px) {
        .row, 
        .navbar{
            flex-direction: column;
        }
    }